.game-preview{
    background-color: rgb(32, 32, 39);
    height: 100%;
    background-image: url(img/stars-games.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: calc(100% + 150px) calc(0% + 200px);

           
    &__info{
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-top: 94px;
    }
     &__title{
        color: rgb(255, 255, 255);
        font-family: "Montserrat", sans-serif;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        padding-bottom: 24px;
    }

    &__text{
        color: rgb(255, 255, 255);
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
}

.cart {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    padding-top: 72px;
    padding-bottom: 50px;
  
    &__conteiner{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__item {
        box-sizing: border-box;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 30px;
        background: rgb(255, 255, 255);
        display: flex; 
        flex-direction: column;  
        transition: transform 0.3s; 
        position: relative;
        width: 378px;
        height: 473px;
    }  
    
    &__item-big{    
        box-sizing: border-box;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 30px;
        background: rgb(255, 255, 255);
        display: flex; 
        flex-direction: column;  
        transition: transform 0.3s; 
        position: relative;
        width: 378px;
        height: 512px;
    }

    &__img{
        width: 100%;
    }

    &__item:hover {
    transform: scale(1.05); }

    &__item-big:hover {
        transform: scale(1.05); 
    }

    
}
    .info{
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 32px 32px 36px 32px;      

        &__number{           
            font-weight: 500;
            line-height: 110%;
            text-align: left;
            border-radius: 52.58px;
            background: rgb(247, 247, 247);
            width: 108px;
            height: 36px;           
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-family: "Montserrat", sans-serif;

        }
        
        &__text{
            display: flex;
            color: rgb(32, 32, 39);
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            padding: 8px 16px 10px 16px;
            color: rgb(32, 32, 39);
            font-size: 16px;  
            
        }
        
        
        &__title{
            color: rgb(32, 32, 39);
            font-family: "Montserrat", sans-serif;
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            letter-spacing: 0px;
            text-align: left;
        }
    }
}